.my-skills {
  position: relative;
  background-color: var(--general-dark-bg);
  color: var(--text-color);
  overflow-x: hidden;
  border-bottom: 2px solid var(--dark-border-color);

  &::after {
    position: absolute;
    content: "";
    top: 0;
    right: -30%;
    width: 100%;
    height: 100%;
    background-image: url("./../assets/images/bg-lightnes.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__inner {
    position: relative;
    z-index: 1;
  }

  &__title {
    color: var(--signal-text-color);
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
  }

  &__swiper {
    @include small-tablet {
      height: 500px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 500px;
    gap: 30px;

    @include mini-desktop {
      grid-template-columns: repeat(2, 1fr);
    }

    @include small-tablet {
      gap: unset;
    }

    &.swiper-wrapper {
      display: grid;

      @include small-tablet {
        display: flex;
      }
    }
  }

  &__item {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: var(--general-gray-bg);
    padding: 20px;
    border-radius: var(--skills-border-radius);
    overflow: hidden;

    &:hover {
      .my-skills__item-img {
        animation: rotate-yula 2s linear infinite;
      }
    }
  }
}
