.services {
  position: relative;
  background-color: var(--general-dark-bg);
  color: var(--text-color);
  overflow-x: hidden;
  border-bottom: 2px solid var(--dark-border-color);

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    background-image: url("./../assets/images/bg-lightnes.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__inner {
    position: relative;
    z-index: 2;
  }

  &__title {
    text-align: center;
    color: var(--signal-text-color);
    font-weight: 700;
    margin-bottom: 40px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px;
    gap: 30px;

    @include mini-desktop {
      grid-template-columns: repeat(2, 1fr);
    }

    @include small-tablet {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: var(--general-gray-bg);
    padding: 20px;
    border-radius: var(--services-border-radius);
    overflow: hidden;

    &-title {
      text-align: center;
      font-size: 24px;
    }

    &-img {
      width: 100%;
      height: 80%;
      object-fit: cover;
      object-position: center;
      border-radius: var(--services-border-radius);
      transition: var(--transition);
    }

    &:hover &-img {
      transform: scale(1.2);
    }
  }
}
