html,
body {
  height: 100%;
}

body {
  position: relative;
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  overflow-x: hidden;
  min-width: 290px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-fluid {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 10px;
}

// Логотип==============================

.logo {
  font-size: 24px;
  z-index: 10;
}

.link {
  position: relative;
  transition: var(--transition);

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 8px;
    transform: translateX(-50%);
    width: 0%;
    height: 2px;
    background-color: var(--signal-text-color);
    transition: var(--transition);
  }

  &:hover::after {
    width: 100%;
  }

  &:hover {
    opacity: 0.7;
  }
}

// Сердце================================

.heart {
  width: 100px;
  height: 90px;
  position: relative;
  margin: 50px auto;
  animation: heartbeat 1.5s infinite;

  &:hover {
    animation-play-state: paused;
  }
}

.heart::before,
.heart::after {
  content: "";
  position: absolute;
  top: 0;
  width: 52px;
  height: 80px;
  border-radius: 50px 50px 0 0;
  background: red;
}

.heart::before {
  left: 50px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.heart::after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  15% {
    transform: scale(1.2);
  }
  25% {
    transform: scale(1.1);
  }
  35% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

// Текстовая анимация===================

.text-animation {
  position: relative;

  &::before {
    content: attr(data-text);
    width: 0;
    height: 100%;
    color: var(--signal-text-color);
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    border-right: 2px solid var(--text-color);
    animation: print 5s linear infinite;
    font-weight: 700;
  }
}

@keyframes print {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
}

// Бургер============================

.burger-icon {
  position: relative;
  align-items: center;

  width: 40px;
  height: 35px;
  cursor: pointer;
  display: none;

  @include small-tablet {
    display: flex;
  }
}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
  width: 100%;
  height: 3px;
  background-color: var(--signal-text-color);
  border-radius: 10%;
  transition: var(--transition);
}

.burger-icon span::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
}

.burger-icon span::after {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  width: 50%;
}

.burger-icon:hover span,
.burger-icon:hover span::before,
.burger-icon:hover span::after {
  opacity: 0.7;
}

.header__nav--active .burger-icon span {
  background-color: transparent;
}
.header__nav--active .burger-icon span::before {
  top: 45%;
  transform: rotate(45deg);
}
.header__nav--active .burger-icon span::after {
  bottom: 45%;
  width: 100%;
  transform: rotate(-45deg);
}
