:root {
  --general-dark-bg: #171718;
  --general-gray-bg: #3c3c40;
  --dark-border-color: #26292d;

  --font-family: "Roboto", sans-serif;
  --signal-text-color: #fd6f00;
  --text-color: #fff;
  --transition: 0.5s;

  --works-card-color: #fff;
  --works-border-radius: 20px;
  --skills-border-radius: 20px;
}
