.footer {
  padding: 30px 0;
  background-color: var(--general-gray-bg);

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  &__year {
    font-size: 25px;
    font-weight: 700;
  }
}
