<header class="header">
  <div class="container header__inner">
    <a class="logo header__logo" href="/"><span>Kholodov</span> portfolio</a>
    <nav class="nav header__nav">
      <ul class="header__nav-list text-p-large">
        <li class="header__nav-item">
          <a class="link header__nav-link" href="#">Мои работы</a>
        </li>
        <li class="header__nav-item">
          <a class="link header__nav-link" href="#">Мои навыки</a>
        </li>
        <li class="header__nav-item">
          <a class="link header__nav-link" href="#">Контакты</a>
        </li>
      </ul>
    </nav>
    <a class="burger-icon" href="#">
      <span></span>
    </a>
  </div>
</header>
